/* ---------------------------------------------------------------------------------- */


/* load iconfont [引入字体图标]*/

@font-face {
    font-family: 'iconfont';
    /* project id 104803 */
    src: url('//at.alicdn.com/t/font_xh651p968kbg9zfr.eot');
    src: url('//at.alicdn.com/t/font_xh651p968kbg9zfr.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_xh651p968kbg9zfr.woff') format('woff'), url('//at.alicdn.com/t/font_xh651p968kbg9zfr.ttf') format('truetype'), url('//at.alicdn.com/t/font_xh651p968kbg9zfr.svg#iconfont') format('svg');
}


/* ---------------------------------------------------------------------------------- */


/* define font [定义字体]*/

.icon {
    font-family: 'iconfont';
    font-size: 16px;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* ---------------------------------------------------------------------------------- */


/* define icon [定义图标]*/

.icon-zan:before {
    content: "\e624"
} //赞
.icon-msg-line:before {
    content: "\e606"
} //邮件
.icon-msg-block:before {
    content: "\e604"
} //邮件填充色       
.icon-msg-close:before {
    content: "\e638"
} //关闭圆形
.icon-msg-close2:before {
    content: "\e639"
} //关闭×	 
.icon-add-dot:before {
    content: "\e63b"
} //+号虚线圆形
.icon-left:before {
    content: "\e635"
} //左箭头 <
.icon-right:before {
    content: "\e634"
} //右箭头 <
.icon-down:before {
    content: "\e63d"
} //下箭头 <
.icon-article:before {
    content: "\e629"
} //文章 
.icon-user:before {
    content: "\e62b"
} //用户 
.icon-start:before {
    content: "\e657"
} //星星 
.icon-camera:before {
    content: "\e63a"
} //相机 
.icon-code:before {
    content: "\e617"
} //代码 
.icon-music:before {
    content: "\e649"
} //音乐 
.icon-links:before {
    content: "\e601"
} //链接 
.icon-github:before {
    content: "\e66c"
} //github 
.icon-v2ex:before {
    content: "\e62a"
} //v2ex 
.icon-slide-btn:before {
    content: "\e63e"
} //侧边导航按钮
.icon-menu:before {
    content: "\e650"
} //侧边菜单按钮